<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sorting Visualizer</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <!-- <link rel="icon" href="../public/assets/favicon.ico" /> -->
  </head>
  <body>
    <header>
      <h1>Sorting Visualizer</h1>
    </header>
    <nav>
      <a href="/about">About</a>
      <a href="/profile">User profile</a>
    </nav>
    <main>
      <h2>Choose the algorithm:</h2>
      <button id="bubbleSort">Bubble Sort</button>
      <button id="quickSort">Quick Sort</button>
      <button id="mergeSort">Merge Sort</button>
      <h2>Choose the size of array</h2>
      <input type="range" id="arraySize" min="1" max="20" value="10" />
      <span id="arraySizeValue">10</span>
      <button id="showArray">Show Starting Array</button>
      <button id="startVisualization">Start Visualization</button>
      <canvas id="visualizationCanvas" width="600" height="200"></canvas>
    </main>
    <script type="module" src="../public/js/app.js"></script>
  </body>
</html>
